.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 900px;
  margin: 0px auto;
  padding: 10px 20px;
  box-sizing: content-box;
}
